extends layout

block content
  h1= title
  h3 Welcome to #{title} ! 
  a(href='./new')
    button(type='button') Add a message
  <br>
  <br>

  each message in messages
    p 
      i #{message.user}
    p #{message.text}
    p #{message.added}
    <br>